---
import Base from "@layouts/Base.astro";
import Banner from "@layouts/components/Banner.astro";
import KeyFeatures from "@layouts/components/KeyFeatures.astro";
import Testimonial from "@layouts/components/Testimonial.astro";
import Service from "@layouts/components/Service.astro";
import Cta from "@layouts/partials/Cta.astro";
import config from "@config/config.json";
import FeaturedBlog from "@components/blog/FeaturedBlog.astro";
import { getEntryBySlug } from "astro:content";
import { sortByDate } from "@lib/utils/sortFunctions";
import { getSinglePage } from "@lib/contentParser.astro";
import IntegrateMedia from "@layouts/function-components/IntegrateMedia";
import { getTaxonomy } from "@lib/taxonomyParser.astro";

const { blog_folder } = config.settings;
const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const featuredPost = sortedPosts.filter((item) => item.data.featured);
const homepage = await getEntryBySlug("homepage", "index");
const { banner, key_features, service, testimonial } = homepage.data;

const categories = await getTaxonomy("integrations", "categories");
const integrations = await getSinglePage("integrations");
---

<Base>
  <!-- banner -->
  <Banner banner={banner} />
  <!-- key features -->
  <!-- Featured Blog -->
   <div class="container">
        <FeaturedBlog posts = {featuredPost}/>
   </div>

   <IntegrateMedia
    client:load
    integrations={integrations}
    categories={categories}
  />
  
  <KeyFeatures key_features={key_features} />
  <!-- service -->
  <Service service={service} />
  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />
  <!-- call to action -->
  <Cta />
</Base>
